.layout-login {
  padding-left: 179px;
  padding-top: 125px;
}

.login-title {
  font-size: 45px;
  font-weight: 700;
  margin: 0 33px 10px;
}

.login-subtitle {
  font-size: 20px;
  margin: 0 0 0 33px;
}
